h1 {
    font-size: 28px;
    color: red;
	font-style:arial,sans-serif;
	background-color:beige;
	border-style:solid;
	text-align: center;
}
body {
    font-size: 18px;
    color: black;
	background-color:beige;
}
p {
	color:black;
	background-color:beige;
	font-family: arial,sans-serif;
}
a {
	color:blue;
	background-color:beige;
}

	
